.referAfriend {
  .heroSection {
    background-color: #e0e0e2;
    padding: 3rem 9rem;

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;

    .left {
      width: 50%;
      h1 {
        font-size: 64px;
        font-weight: 700;
        span {
          color: #fa692b;
        }
      }

      p {
        font-size: 1.25rem;
        font-weight: 400;
      }

      form {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 8px;

        .wrapper {
          position: relative;

          svg {
            position: absolute;
            left: 12px;
            top: 10px;
          }
          .inputIcon{
            width: 1.5rem;
            color: grey;
            position: absolute;
            top:12px;
            left: 12px;
        }
        input {
            font-size: 1rem;
            line-height: 1.5;
            color: #666;
            width: 100%;
            background: #fffcfc;
            height: 50px;
            border-radius: 25px;
           padding: 1rem 3rem;
            border: 2px solid rgb(143, 143, 143);
            outline: none;
            transition: 0.3s all ease;

            &::placeholder {
                color: rgb(131, 131, 131);
                font-weight: 500;
            }

            &:focus {
                border: 2px solid rgb(255, 82, 19);
                animation: backgroundEffect 2s ease forwards
            }

            @keyframes backgroundEffect {
                0%{
                    box-shadow: rgba(255, 68, 0, 0.5) 0px 13px 27px -5px, rgba(255, 68, 0, 0.5) 0px 8px 16px -8px;
                }
                60%{
                    box-shadow: rgba(255, 68, 0, 0.5) 0px 2px 5px -1px, rgba(255, 68, 0, 0.5) 0px 1px 3px -1px;
                }
                100%{
                    box-shadow: none;
                }
            }
        }
        }

        button {
          background-color:  #ff5729;
          border-radius: 5rem;
          padding: 0.5rem 1.5rem;
          color: #ecf3f2;
          font-size: clamp(1.25rem, 1.25rem + ((1vw - 0.2rem) * 0.27), 1.5rem);
          align-self: self-start;
        }
      }
    }

    .right {
      width: 50%;
      .companyInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        .aboutCompany {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          gap: 15px;
          > h1 {
            color: #fa692b;
            margin: 0;
          }
          > h4 {
            font-size: 24px;
            margin: 0;
          }
          .companyContainer {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 15px;

            .ceo {
              display: flex;
              flex-direction: column;
              gap: 5px;

              h1 {
                font-size: 1.25rem;
                font-weight: 700;
              }
              p {
                margin: 0;
              }
              .wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 0.2rem;

                .phone {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 0.3rem;
                }
                .email {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 0.3rem;
                }
              }
            }
            .office {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;

              h1 {
                margin-top: -5px;
              }

              .address {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 0.4rem;
                p {
                  margin-top: 0px;
                }
              }
            }
          }

          .map {
            width: 500px;
            height: 200px;

            iframe {
              width: 100%;
              height: 100%;

              border-radius: 8px;
            }
          }
        }
      }
    }
  }

//   .reviewSection {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     gap: 2rem;

//     h4 {
//       font-size: clamp(2.25rem, 2.25rem + ((1vw - 0.2rem) * 2.432), 4.5rem);
//       font-weight: 700;
//     }

//     .cardWrapper {
//       background-color: #c9d6e0;
//       height: 400px;
//       width: 50%;
//       border-radius: 20px;

//       .reviewCard {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         gap: 2rem;
//         header {
//           display: flex;
//           gap: 3rem;

//           h1 {
//             font-size: 2rem;
//           }
//         }

//         .comment {
//         }
//         .userDetail {
//           figure {
//             width: 100px;
//             height: 100px;

//             img {
//               width: 100%;
//               height: 100%;
//               border-radius: 50%;
//             }
//           }
//         }
//       }
//     }
//     .navigation-button {
//     }

//     .dot {
//       cursor: pointer;
//       height: 15px;
//       width: 15px;
//       margin: 0 2px;
//       background-color: #bbb;
//       border-radius: 50%;
//       display: inline-block;
//     }
//   }
}

@media (max-width: 650px) {
  .referAfriend {
    .heroSection {
      padding: 16px 20px;

      flex-direction: column;

      .left {
        width: 100%;
        h1 {
          font-size: 32px;
        }

        p {
          width: 100%;

          font-size: 16px;
        }

        form {
          width: 100%;

          
        }
      }

      .right {
        width: 100%;

        .companyInfo {
          .aboutCompany {
            width: 100%;
            align-items: center;
            > h4 {
              font-size: 16px;
           text-align: center;
           margin-left: -5px;
            }

            .companyContainer{
                flex-direction: column;
                align-self: self-start;
              
            }

            .map{
                width: 100%;
                height: 150px;
            }
          }
        }
      }
    }
  }
}
