.selfAssesment {
    .heroSection {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 8rem;
        gap: 5rem;

        .left {
            width: 50%;

            h1 {
                font-weight: 700;
                font-size: 65px;
                line-height: 1.2;
                span{
                    color: #ff6127;
                }
            }

            h2 {
                font-weight: 700;
                font-size: 48px;
                span{
                    color: #ff6127;
                }
            }

            p {
                font-size: 1.25rem;
                font-weight: 400;
            }
        }

        .right {
            width: 50%;

            h3 {
                font-size: 1.75rem;
                color: rgb(66, 66, 66);
            }

            p {
                margin-top: -1rem;
                color: rgb(141, 141, 141);
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .wrapper {
                   position: relative;
                    align-items: center;
                    gap: 0.5rem;
                }
                .inputIcon{
                    width: 1.5rem;
                    color: grey;
                    position: absolute;
                    top:12px;
                    left: 12px;
                }
                input {
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #666;
                    width: 100%;
                    background: #fffcfc;
                    height: 50px;
                    border-radius: 25px;
                   padding: 1rem 3rem;
                    border: 2px solid rgb(152, 152, 152);
                    outline: none;
                    transition: 0.3s all ease;

                    &::placeholder {
                        color: rgb(196, 196, 196);
                        font-weight: 500;
                    }

                    &:focus {
                        border: 2px solid rgb(255, 82, 19);
                        animation: backgroundEffect 2s ease forwards
                    }

                    @keyframes backgroundEffect {
                        0%{
                            box-shadow: rgba(255, 68, 0, 0.5) 0px 13px 27px -5px, rgba(255, 68, 0, 0.5) 0px 8px 16px -8px;
                        }
                        60%{
                            box-shadow: rgba(255, 68, 0, 0.5) 0px 2px 5px -1px, rgba(255, 68, 0, 0.5) 0px 1px 3px -1px;
                        }
                        100%{
                            box-shadow: none;
                        }
                    }
                }

                button {
                    background-color: rgb(255, 113, 61);
                    border-radius: 5rem;
                    padding: 0.5rem;
                    width: 100%;
                    color: #ffffff;
                    font-size: clamp(1.25rem, 1.25rem + ((1vw - 0.2rem) * 0.27), 1.5rem);
                    align-self: self-start;
                }
            }
        }
    }

    .ourProcess {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        background-color: #e0e0e2;
        padding: 5rem;

        h1 {
            font-size: clamp(3rem, 3rem + ((1vw - 0.2rem) * 3.243), 6rem);
            font-weight: 700;
            margin: 0;
        }

        .processContainer {
            width: 100%;
            display: flex;
            border-radius: 2rem;
            background-color: #ededef;
            .left {
                order: 1;
                width: 50%;  
                padding: 2rem;
                .cardContainer {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 2.5rem;
                    padding: 1.5rem;
                    border-radius: 1rem;
                 background-color:    #e9e9e982;
                    .visible{
                        animation: popup 0.5s ease-out 0s forwards;
                    }
                    .cardSpecial {
                        display: flex;
                        gap: 0.5rem;
                        width: 100%;
                        opacity: 0;
                        



                        .stepCardIndicator {
                            background-color: rgb(222, 255, 222);
                            height: 45px;
                            min-width: 45px;
                            border-radius: 50%;
                            overflow: hidden;
                            
                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }

                        .stepCardContent {
                            display: none;
                            flex-direction: column;
                            gap: 0.5rem;
                            align-items: flex-start;
                            display:none;
                          

                            .stepCount {
                                border: 1px solid;
                                width: fit-content;
                                padding: 6px 12px;
                                border-radius: 1rem;
                                border-bottom-left-radius: 5px;
                                font-size: 1rem;
                                font-weight: 700;
                                background-color: white;
                            }

                            .stepContent {
                                width: fit-content;
                                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;                                padding: 6px 12px;
                                border-radius: 1rem;
                                border-top-left-radius: 5px;
                                font-size: 1rem;
                                max-width: 355px;
                                overflow: hidden;
                                background-color: rgb(21 109 177 / 44%);
                            }
                        }

                        &:nth-child(even) {
                            flex-direction: row-reverse;

                            .stepCardContent {
                                align-items: flex-end;

                                .stepCount {
                                    border-radius: 1rem;
                                    border-bottom-right-radius: 5px;
                                  
                                }

                                .stepContent {
                                    border-radius: 1rem;
                                    border-top-right-radius: 5px;
                                }
                            }
                        }
                    }

                    @keyframes popup {
                        0% {
                            transform: scale(0);
                        }

                        80% {
                            transform: scale(1.1);
                        }

                        100% {
                            transform: scale(1);
                        }
                    }

                    .card {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2rem;

                        .steps {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            position: relative;
                            background: rgba(204, 0, 255, 0.11);
                            color: #b000dc;

                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #666;
                                position: absolute;
                                left: 75px;
                                top: -10px;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }
                        }

                        .cardContent {
                            box-sizing: border-box;
                            padding: 0.5rem 1rem;
                            margin: 1rem;
                            background: #f5f5ff;
                            border-radius: 1.125rem 1.125rem 1.125rem 0;
                            min-height: 2.25rem;
                            width: 400px;
                            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075),
                                0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
                        }
                    }

                    .card {
                        .steps2 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            position: relative;
                            background: rgba(0, 220, 141, 11%);
                            color: #00dc72;
                        }
                    }

                    .card {
                        .steps3 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            position: relative;
                            background: rgba(220, 0, 0, 11%);
                            color: #dc0000;
                        }
                    }

                    .card {
                        .steps4 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            position: relative;
                            background: rgba(0, 88, 220, 11%);
                            color: #0058dc;
                        }
                    }
                }
            }

            .right {
                order: 2;
                width: 50%;

                // background-image: url("../../Assest/Group\ 46.png");
                // // height: 500px;
                // border-radius: 2rem;
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: cover;

                img{
                  aspect-ratio: 1;
                    height: 100%;
                }
            }
        }
    }

    .ourAssistance {
        width: 100%;
        padding: 5rem 4rem;
        
        .container{
            display: flex;
            background-color: rgb(255, 243, 236);
            border-radius: 3rem;
            padding: 3rem;
            .left {
                width: 50%;
    
                figure {
                    width: 80%;
    
                    img {
                        width: 100%;
                    }
                }
            }
    
            .right {
                width: 50%;
    
                h1 {
                    font-size: clamp(2.25rem, 2.25rem + ((1vw - 0.2rem) * 1.622), 3.75rem);
                    font-weight: 700;
                }
    
                p {
                    font-weight: 400;
                    font-size: 1.25rem;
                }
    
                .helpList{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .list {
                        display: flex;
                        align-items: flex-start;
                        gap: 0.5rem;
                        figure{
                            width: 25px;
                            height: 25px;
                            margin-top: 0.2rem;
                        }
                        label {
                            font-weight: 700;
                            font-size: 1.25rem;
                            color: rgb(78, 78, 78);
                        }
                    }
                }
            }
        }
      
    }
}



@media (max-width : 650px) {


    .selfAssesment {
        .heroSection {

            padding:16px 20px;
            gap: 1rem;
            flex-direction: column;

            .left{
                width: 100%;
                h1 {
                    font-size: 32px;
                }
                h2 {
            
                    font-size: 28px;
                   
                }
                p{
                    font-size:16px ;
                }
            }
            .right{
            width:100%;
          

            .form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                h2{
                    font-size: 28px;
                }
                p {
                    font-size:16px ;
                }

       form{
        
        header{
            h2{
                font-size: 24px; 
            }
        }


       }
        



            }

          

            

            }
        }
        .ourProcess{
            padding: 16px 20px;


            .processContainer{
                flex-direction: column;
              
      

                 .left{
                    width: 100%;
                    order: 2;
                    padding:10px 0 10px 0;
                    background-color:#e0e0e2;
                    .cardContainer{
                        background-color:#e0e0e2;
                        padding: 0;
                      

                        .cardSpecial .stepCardContent .stepContent{
                            font-size: 14px;
                        }
                    }
                 }

                 .right{
                    width: 100%;
                  

                    order: 1;
                    img{
                       
                        border-radius: 5px;
                        height: 280px;
                    }
                 }



            }


        } 

.ourAssistance{

padding: 16px 20px;
flex-direction: column;
background-color: rgb(255, 243, 236);

.container{

    flex-direction: column;
    padding: 0;
   
    .left{
        width: 100%;
        figure{
            width: 100%;
        }
    }
    
    .right{
        width: 100%;

        h1{
            font-size: 24px;
        }
        p{
            font-size: 16px;
        }

        .helpList{

            .list{


                label{
                     font-size: 16px;
                }
            }
        }


    }
}


}


}






}